//- ヘッダーのテンプレート
header(class="jumbotron jumbotron-fluid")
  h1(class="display-3") 人生とは何か（迫真
  nav(class="nav")
    a(class="nav-link" href="/") トップ
    a(class="nav-link" href="/profile") プロフィール
    a(class="nav-link" href="/entry/post") 記事投稿
   
