//- ヘッダーのテンプレート
header(class="jumbotron jumbotron-fluid" style="padding-top: 0px;padding-bottom: 45px;margin-bottom: 0px;")
  div(class="img")
    img(src='http://i.imgur.com/QYeTiGd.jpg' width="1120" height="450")
    <p>ー　　Blog　　ー</p>
  nav(class="nav" style= "margin-top: 20px;")
    a(class="nav-link" href="/") トップ
    a(class="nav-link" href="/profile") プロフィール
    a(class="nav-link" href="/entry/post") 記事投稿